*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Montserrat',sans-serif;
    height: 60px;
}
.cartHeader h2{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.cartHeader h2 a{
    color: #4a92bb;
}

.cartProductInfoContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    min-height: 80vh;
}
.responsive.cartProductInfoContainer{
    display: none;
}

/* Container to house the table */
.tableWrapper{
    position: relative;
    padding: 20px 40px;
    min-height: 20vh;
    flex-grow: 1;
    /* background-color: #F5F5F5; */
    overflow-x: auto; /* To make the table scrollable when the window is smaller DON'T TOUCH!! */
}

/* Table stling */
table{
    display: inline-table;
    border-spacing: 0px 10px;
    border-collapse: separate; /* This is what separates the table rows*/
    padding: 0 20px;
    min-width: 500px; /* Table scroll bar will appear at this size*/
    width: 100%;
}

/* Table row styling */
tr{
    padding: 10px;
}
tr.productWrapper{
    background-color: var(--bg-alt);
    transition: background-color 0.2s ease;
}
.productWrapper.selected {
    background-color: var(--bg-muted); /* light grey */
  }
/* Th and td styling */
th, td{
    border-spacing: 20px;
    height: inherit;
    padding: 10px;
}


/* Styling for the table heading */
th{
    border-bottom: 2px solid grey;
    color: grey;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

/* Styling for the table data */
td{
    position: relative;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    height: max-content;
    text-align: center;
    /* background-color: var(--bg-alt); */
}


/* This is to add border radius to the rows because tr does not support border radius */
td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* This is the styling for the little separator lines separating columns */
td::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 10px;
    background-color: var(--bg-secondary);

}
/* Removing the separator line from the last child */
td:first-child::before{
    background-color: transparent;
}
td:last-child::before{
    background-color: transparent;
}
.cartProductInfo{
    display: flex;
    gap: 10px;
    height: 80px;
    width: 100%;
}
.removeProductBtn{
    padding: 6px 10px;
    background-color: transparent;
}
.emptyCartButton{
    padding: 6px 10px;
    background-color: var(--error-color);
    color: var(--white);
}
.cartProductImageWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 80px;
    width: 70px;
    overflow: hidden;
}

.cartProductImage{
    width: calc(100%*1.2);
}

.cartProductDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    height: 100%;
}

.ProductName{
    text-align: left;
    font-size: 16px;
    word-wrap: break-word;
}

.productSizeAndStockWrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.productSizeWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ProductSize{
    background-color: var(--bg-primary);
    padding: 0 8px;
    font-size: 15px;
    font-weight: bold;
}

.productStockState{
    color: var(--success-color-2);
    font-size: 15px;
    margin-right: 10px;
}

.number-input button, .number-input input{
    height: 30px;
    border: none;
}
.number-input button{
    width: 30px;
    font-size: 16px;
    background-color: var(--bg-accent)
}
.number-input input{
    width: 40px;
    font-size: 13px;
}

/* Filter by category styling */
.selectBox {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* CheckBox Styling */
  /* Hide the browser's default checkbox */
  .selectBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: var(--bg-light);
    border: 0.1rem solid var(--bg-accent);
}
  
  /* When the checkbox is checked, add a blue background */
  .selectBox input:checked ~ .checkmark {
    background-color: var(--black);
    border: 0.1rem solid var(--black);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .selectBox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .selectBox .checkmark:after {
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) translate(-1px, -1px);
}

.orderInfoWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 0px;
    background-color: var(--bg-alt);
    padding: 0px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transition: 0.3s ease;
}
.orderInfoWrapper.visible{
    padding: 20px;
    width: 320px;
}

.orderInfoHeader {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 0.1rem solid var(--dark-gray);
    padding: 15px 0;
    margin-bottom: 10px;
    min-width: max-content;
}

.orderInfo{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
    color: var(--neutral-black);
    padding: 2px 5px;
    min-width: max-content;
}

.orderInfo span{
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-grow: 1;
    color: var(--black);
}

.orderInfo span::before{
    content: '';
    min-width: 10px;
    flex-grow: 1;
    border-bottom: 0.1rem dotted var(--dark-gray);
}

.buttonStyle3{
    height: 40px;
    border-radius: 6px;
    min-width: max-content;
}

#add-coupon-code{
    cursor: pointer;
    min-width: max-content;
}

.couponCodeContainer{
    display: flex;
    visibility: hidden;
    gap: 10px;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}
.couponCodeContainer.expand{
    visibility: visible;
    height: 30px;
}

.couponCodeContainer input{
    flex-grow: 1;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .orderInfoWrapper{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 20px;
        width: 320px;
        transform: translateX(150%);
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.293);
    }
    .orderInfoWrapper.visible{
        transform: translateX(0);
    }
}

@media (max-width: 950px) {
    .cartProductInfoContainer{
        display: none;
    }
    .responsive.cartProductInfoContainer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-height: 10vh;
        width: 100%;
    }
    .responsive.productWrapper{
        position: relative;
        display: flex;
        gap: 20px;
        background-color: var(--bg-alt);
        max-width: 100vw;
        width: 100%;
        height: max-content;
        padding: 20px;
        font-family: 'Poppins', sans-serif;
        border-radius: 10px;
    }

    .responsive.emptyCartButton{
        color: var(--error-color);
        background-color: transparent;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .responsive .cartProductImageWrapper{
        position: relative;
        height: 260px;
        width: 220px;
        border-radius: 10px;
    }
    .responsive .cartProductImageWrapper img{
        width: initial;
        height: calc(100%*1);
    }


    .responsive .removeProductBtn{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 45px;
        color: var(--error-color) ;
        background-color: var(--bg-muted);
        overflow: hidden;
        border-radius: 5px;
    }
    .responsive .removeProductBtn:active{
        background-color: var(--error-color) ;
        color: var(--bg-muted);
    }

    .responsive.removeProductBtn .svg{
        width: 100%;
    }
    
    .responsive .cartProductDetails{
        flex-direction: column;
        justify-content: flex-start;
        align-self: initial;
        gap: 5px;
    }
    
    .responsive.ProductName{
        text-align: left;
        word-wrap: break-word;
    }
    
    .responsive.productSizeAndStockWrapper{
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }
    
    .responsive.productSizeWrapper{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .responsive.ProductSize{
        background-color: var(--bg-primary);
        padding: 0 8px;
        font-weight: bold;
    }
    
    .responsive.productStockState{
        color: var(--success-color-2);
        margin-right: 10px;
    }

    .responsive.orderInfo{
        gap: 5px;
        padding: 0;
    }
    .responsive.orderInfo span:before{
        content: none;
    }
    .responsive.number-input{
        margin-top: 15px;
    }
    .responsive.number-input button, .responsive.number-input input{
        height: 40px;
        border: none;
    }
    .responsive.number-input button{
        width: 40px;
        font-size: 20px;
        background-color: transparent;
        border-radius: 6px;
        border: 0.1rem solid var(--neutral-black);

    }
    .responsive.number-input input{
        width: 50px;
        font-size: 18px;
        background-color: transparent;
    }
    
    .orderInfoWrapper{
        display: none;
    }

    .responsive.itemCountAndPriceWrapper{
        display: flex;
        gap: 10px;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .ProductTotalPrice{
        font-size: 22px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
}


@media (max-width: 500px) {
    .cartHeader h2{
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: normal;
    }
    .responsive.cartProductInfoContainer{
        gap: 20px;
    }
    .responsive.productWrapper{
        flex-direction: row-reverse;
        gap: 10px;
        border-radius: 6px;
    }

    .responsive.emptyCartButton{
        color: var(--error-color);
        background-color: transparent;
    }
    .responsive .cartProductImageWrapper{
        height: 160px;
        width: 140px;
        border-radius: inherit;
    }

    .responsive .removeProductBtn{
        top: initial;
        bottom: 10px;
        right: 10px;
    }
    
    .responsive.productSizeAndStockWrapper{
        font-size: 14px;
        margin-top: 5px;
    }

    .responsive.orderInfo{
        font-size: 14px;
    }

    .responsive.number-input{
        margin-top: 10px;
    }
    .responsive.number-input button, .responsive.number-input input{
        height: 30px;
        border: none;
    }
    .responsive.number-input button{
        width: 30px;
        font-size: 16px;
        border: 0.1rem solid var(--neutral-black);
    }
    .responsive.number-input input{
        width: 40px;
        font-size: 16px;
    }

    .responsive.itemCountAndPriceWrapper{
        gap: 10px;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .ProductTotalPrice{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
}